torch>=1.13.1
opencv-contrib-python
transformers>=4.26.1
diffusers>=0.14.0
accelerate>=0.16.0

# for original ControlNet
pytorch-lightning==1.5.0
omegaconf==2.1.1
einops==0.3.0
addict==2.4.0
yapf==0.32.0

# tldream
fastapi[all]
python-multipart
typer
rich
loguru
python-socketio
safetensors